<% @chinese_rests[0..9].each do |restaurant| %>
<div class="restaurant-list-item"> 
    <h4><a href="/restaurants/id/<%= restaurant.id %>"><%= restaurant.name.capitalize %></a></h4>
    <p><%= restaurant.rating %></p>
    <p><%= restaurant.address %></p>
    <p><%= restaurant.website %></p>
    <p><%= restaurant.hours %></p>
    <p><%= restaurant.price_range %></p>
    <p><%= restaurant.phone %></p>
    <a href="/write_review/<%= restaurant.id %>">Write Review!</a>
</div>
<% end %>
<a href="categories/3">See more!</a>


