<div class="restaurant-info">
  <h1>yay! You made it!</h1>
  <% if @restaurant %>
    <h1><%= @restaurant.name %></h1>
    <ul>
      <li>Rating: <%= @restaurant.rating %></li>
      <li>Address: <%= @restaurant.address %></li>
      <li>Website: <%= @restaurant.website %></li>
      <li>Hours: <%= @restaurant.hours %></li>
      <li>Price Range: <%= @restaurant.price_range %></li>
      <li>Phone Number: <%= @restaurant.phone %></li>
    </ul>
  <% end %>
  <button class="write-review"><a href="/write_review/<%= @restaurant.id %>">Write Review!</a></button>
</div>